body {
  margin: 0;
}

.header-section {
  background-image: url(./Images/water-on-glass-background.jpeg)
}
.about-and-form-section {
  background-image: url(./Images/Skyblue-plain-background.webp);
}